* {
    box-sizing: border-box;
}


.nav-div-bar {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em;
    gap: 1em;
    background-color: bisque;
}

.nav-div-bar a{
    text-decoration: none;
}

.nav-div-bar a:hover {
    color: red;
}

.nav-div-bar a:active{
    text-decoration: underline;
    color: brown;
}

.nav-div-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em;
    gap: 1em;
    background-color: bisque;
}

.nav-div-side a{
    text-decoration: none;
}

.nav-div-side a:hover {
    color: red;
}

.nav-div-side a:active{
    text-decoration: underline;
    color: brown;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.main_all-tiles{
    display: flex;
    flex-direction: row;
    border-style: dashed;
    border-color: red;
    padding: 1em;
    justify-content: space-evenly;
    margin-top: 2em;
    
}
.main_right-tiles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-style: dashed;
    border-color: blue;
    padding: 1em;
    
}

.main_left-tiles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-style: dashed;
    border-color: green;
    padding: 1em;
    
}



.main_tile-one, .main_tile-two, 
.main_tile-three, .main_tile-four,
.main_tile-five, .main_tile-six {
    width: 10em;
    height: 5em;
    border-color: black;
    border-style: dotted;
    margin-top: 1em;
}

footer {
    margin-top: auto;
    background-color: aqua;
}


@media only screen and (min-width: 720px){
    .nav-div-bar {
        display: flex;
    }

    .nav-div-side {
        display: none;
    }
    
    .main_all-tiles{
        flex-direction: column;
        margin-top: 2em;
    }    

    .main_left-tiles, .main_right-tiles {
        flex-direction: row;
        margin-top: 2em;
        justify-content: space-evenly;
    }


}

@media only screen and (min-width: 960px){
    .nav-div-bar {
        display: flex;
    }
    
    .nav-div-side {
        display: none;
    }

    .main_all-tiles{
        flex-direction: row;
        margin-top: 2em;
    }    

    .main_left-tiles, .main_right-tiles {
        flex-direction: row;
        width: 80%;
        
        justify-content: space-evenly;
    }
}